h1,
h2,
h3,
h4,
h5 {
  color: #ddd;
  font-family: "Verdana", sans-serif;
}

b,
strong {
  color: #fff;
}

a {
  color: #eee;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 280px) {
    body {
      width: 95%;
      padding: 15px;
      display: flex;
      flex-direction: column;
    }

    img {
        max-width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    html {
        font-size: 0.8em;
    }
}

iframe {
  align-self: center;
  text-align: center;
  display: block;
  margin: auto;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 800px) {
    body {
      width: 800px;
      padding: 15px;
      display: flex;
      flex-direction: column;
    }

    img {
        max-width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    html {
        font-size: 1.2em;
    }
}

html {
  color: #ccc;
  font-family: "Georgia", serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // https://uiverse.io/muhammad_1180/ordinary-fish-9
  position: absolute;
  inset: 0;
  height: 200%;
  background: #212121;
  background: radial-gradient(125% 125% at 50% 10%, #212121 40%, #63e 100%);
  z-index: -10;
}

body {
  width: 800px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}
