/* From Uiverse.io by Na3ar-17 */ 
.container * {
  padding: 0;
  margin: 0;
}

.card {
  width: 360px;
  height: 350px;
  background-color: #1e293b;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.card .header {
  display: flex;
  align-items: center;
  position: relative;
}

.card .header .title {
  color: #7dd3fc;
  font-size: 13px;
  padding: 2px 12px;
}

.card .header .copy {
  position: absolute;
  background: transparent;
  border: none;
  top: 61%;
  right: 1px;
  transform: translate(-50%, -50%);
  color: rgb(100, 116, 139);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
}

.card .header .copy:hover {
  color: rgb(148, 163, 184);
}

.card .header::before {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #64748b4d;
  right: 1px;
  bottom: 0;
  background-color: #33415580;
  width: 180px;
  height: 33px;
  z-index: 100;
}

.card .header::after {
  content: "";
  position: absolute;
  width: 48%;
  height: 1px;
  background-color: #7dd3fc;
  bottom: 0;
}

.card .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 10px;
}

.card .footer .code {
  display: flex;
  align-items: center;
}

.card .footer .code .icon {
  color: rgb(244, 114, 182);
  padding-top: 3px;
}

.card .footer .code .text {
  padding-left: 3px;
  color: #f8fafc;
}

